<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinAlliance System</title>
    <link rel="stylesheet" href="managerlogin.css">
	<link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <div class="square">
		<i style="--clr:#00ff0a;"></i>
		<i style="--clr:#ff0057;"></i>
		<i style="--clr:#fffd44;"></i>
        <form class="login" method="POST" action="/manager">
			<h2 center ><img width="300px" center src="Fin_AllianceLogo.png" alt="logo"><br>Login</h2>
			<div class="inputBx">
				<input type="text" placeholder="Username" name="username" required>
			</div>
			<div class="inputBx">
				<input type="password" placeholder="Password" name="password" required>
			</div>
			<div class="inputBx">
				<!-- <input type="submit" value="Sign in"> -->
				<button class="ui-btn">
					<span>
					  Let's Go!
					</span>
				  </button>
			</div>
    </form>
	</div>
</body>
</html>